<%- include('layouts/header'); -%>

<% navLinks.filter(navLink => navLink.name !== 'Login').forEach(function(navLink) { %>
  <a href="<%= navLink.url %>"><%= navLink.name %></a>
<% }); %>
<%- include('layouts/admin nav'); -%>
<h1>Edit Pages</h1>
<table>
  <thead>
    <tr>
      <th>Navigation</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% pages.forEach(function(page) { %>
      <tr>
        <td><%= page.nav %></td>
        <td><%= page.title %></td>
        <td>
          <a href="/editpage/<%= page._id %>">Edit</a>
          <a href="/deletepage/<%= page._id %>" onclick="return confirm('Are you sure?');">Delete</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('layouts/footer'); -%>
