<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<%
  var pageTitle = '';
  var pageTitleError = '';
  var pageContent = '';
  var pageContentError = '';

  if(typeof(errors) != 'undefined') {
    for(var error of errors) { 
      switch(error.param){
        case 'pageTitle':
          pageTitle = error.value;
          pageTitleError = error.msg;
          break;
        case 'pageContent':
          pageContent = error.value;
          pageContentError = error.msg;
          break;
      }
    }
  }
%>

  <main>
    <h1>Add Page</h1>
    <form action="/admin/addpage" method="POST" enctype="multipart/form-data">
      <div class="wrapper">
        <label for="pageTitle">Page Title:</label>
        <input type="text" id="pageTitle" name="pageTitle" value="<%= pageTitle %>">
        <p class="error"><%= pageTitleError %></p>
      </div>
      <div class="wrapper">
        <label for="pageContent">Page Content:</label>
        <textarea id="pageContent" name="pageContent"><%= pageContent %></textarea>
        <p class="error"><%= pageContentError %></p>
      </div>
      <div class="wrapper">
        <label for="heroImage">Hero Image:</label>
        <input type="file" id="heroImage" name="heroImage">
      </div>
      <div class="submission">
        <input type="submit" value="Submit">
      </div>
    </form>
  </main>
  <!-- ... -->
  <script src="js/tinymce/jquery.tinymce.min.js"></script>
  <script src="js/tinymce/tinymce.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/vxt26lrcig6ho4jlm3v7y10aim0zgqacf2hxf2qaqpygosrj/tinymce/5/tinymce.min.js"></script> 

  <!-- 富文本编辑器的 JS 初始化代码 -->
  <script>
    tinymce.init({
      selector: '#pageContent',
      height: 500,
      menubar: false
    });
  </script>


          <%- include('layouts/footer'); -%>