<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<main>
    <h1>Edit Pages</h1>
    <table>
      <thead>
        <tr>
          <th>Page Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% navLinks.forEach(link => { %>
          <tr>
            <td><%= link.page %></td>
            <td>
              <a href="/editpage/<%= link.page %>">Edit</a>
              <a href="/deletepage/<%= link.page %>">Delete</a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </main>
  <%- include('layouts/footer'); -%>